{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 48.6989,
        "longitude": 9.0227,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Barney Home Automation",
        "time_zone": "Europe/Berlin",
        "external_url": "https://barneyhomeaut.duckdns.org",
        "internal_url": null,
        "currency": "EUR"
    }
}